.keyboard-item {
  background: #1e47c2;
}
.input_item:hover {
  background: grey;
}

.auto-complete {
  width: 500px;
}

input {
  padding: 12px 6px;
  width: 92%;
  font-size: 1rem;
  font-weight: 300;
  vertical-align: middle;
}

input::placeholder {
  color: #9b9b9b;
}

/*
search result
*/
.search-bx {
  position: relative;
}
.search-bx {
  padding: 15px 0;
  width: 100%;
}

.search-group {
  width: 100%;
  border: 1px solid #c7d3dd;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(206, 206, 206, 0.5);
  padding-left: 9px;
}

button.btn-search {
  right: 6px;
  top: 10px;
  font-size: 1.2rem;
  vertical-align: middle;
}

.search-group button .mdi {
  font-size: 1.5rem;
  color: #999a9d;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

.search-result {
  position: absolute;
  width: 95%;
  background: #f7f8fa;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.search-result .result-type {
  float: left;
  width: 11rem;
  padding: 2rem 1.3rem;
}
.search-result .result-list-box {
  float: left;
  background: #fff;
  /* width: calc(100% - 11rem); */
  width: 99%;
  height: 22rem;
  overflow-y: auto;
  border-left: 1px solid #f4f4f4;
}

.result-list-box .result-count {
  border-bottom: 1px solid #f4f4f4;
  padding: 15px 12px 12px 15px;
}
.result-list-box .result-count span {
  color: #1e47c2;
  font-weight: 500;
}
.result-list-box ul {
  list-style: none;
  padding: 0px;
}
.result-list-box ul li {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  padding: 19px 12px 16px 20px;
}
.result-list-box ul li:hover {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  padding: 19px 12px 16px 20px;
  background-color: #eee;
}
.result-type ul li {
  display: block;
  padding-bottom: 16px;
}

input.form-control {
  padding: 12px 6px;
  width: 92%;
  font-size: 1rem;
  font-weight: 300;
  vertical-align: middle;
}

input.form-control::placeholder {
  color: #9b9b9b;
}
